<body>
<head>
    <title>{{ 'test.tata'|trans }}</title>
</head>
<a href="/" title="{{ 'test.toto'|trans }}">{{ 'test.toto'|trans|raw }}</a>
{{ 'test.toto'|trans|raw }}<br />
{{ 'test.toto2'|trans({'%value%': 'Ma super valeur'}) }}<br />
{{ 'test.toto3'|transchoice(3) }}<br />
</body>

<link rel="stylesheet" href="{{ asset('bundles/rvalintranslation/css/translation.css') }}" />
<script src="{{ asset('bundles/rvalintranslation/js/jquery-2.2.4.min.js') }}"></script>
<script src="{{ asset('bundles/rvalintranslation/js/translation.js') }}"></script>

test
{{ translationList() }}